body {
    color:#5D1277;
    font-family: Arial, Helvetica, sans-serif;
}

.visual{
    width: 80%;
    margin: auto;
}
.btn {
    display: block;
    width: 239px;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    margin: 10px auto;
    
    

   
}

.purple-btn {
    color:white;
    background-color: #5D1277;
    border-radius: 5px;
    
}
.white-btn {
    color:#5D1277;
    border: 1px solid #5D1277;
    border-radius: 5px;
}

